.main {
  display: flex;
  flex-direction: column;
  padding: 36px 0;
  min-height: 100vh;
}

.section1 {
 display: flex;
 flex-direction: row; 
 width: 1270px;
 margin-left: calc((100vw - 1270px) * 0.66);
 margin-right: calc((100vw - 1270px) * 0.34);
 justify-content: space-between;
}

.section1 h2 {
  color: #415A61;
  font-size: 90px;
  font-family: avenir-next-bold;
  /* margin-top: 10px; */
  line-height: 120%;
}

.section1 p {
  font-size: 28.5px;
  width: 85%;
  line-height: 145%;
}

.section1 b {
  font-weight: 500;
}

.waitlistbutton {
  border: 1px solid rgba(0,0,0,0.9);
  width: 227px;
  height: 60px;
  border-radius: 2px;
  justify-content: space-around;
  align-items: center;
  padding: 0 8px;
}

.waitlistbutton:hover {
  opacity: 0.6;
}

.waitlistbutton span {
  font-weight: 500;
  font-size: 23px;
}

.section2 {
  display: flex;
  flex-direction: column;
  padding-left: 120px;
}

.section2 h3 {
  color: #415A61;
  font-size: 54px;
  font-family: avenir-next-demi; 
  line-height: 130%;
  margin-bottom: 14px;
}

.section2 p {
  font-size: 23.5px;
  line-height: 142%;
  width: 540px;
}

.section2__card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 44px;
}

.cardimg {
  margin-top: 14px;
  border: 1px solid #ccc;
  box-shadow: 0 0 12px 2px rgba(81, 87, 226, 0.4);
  border-radius: 4px;
}

.cardcol {
  display: flex;
  flex-direction: column;
  width: 590px;
}
