.main {
  display: flex;
  flex-direction: column;
  padding: 32px 0;
  min-height: 100vh;
}

.section1 {
 display: flex;
 flex-direction: row; 
 margin-left: 90px;
 justify-content: center;
}

.section1 h2 {
  color: #415A61;
  font-size: 90px;
  font-family: avenir-next-bold;
  /* margin-top: 10px; */
  line-height: 125%;
}

.section1 p {
  font-size: 27px;
  width: 90%;
  line-height: 150%;
}

.section1 b {
  font-weight: 500;
}

.waitlistbutton {
  border: 1px solid rgba(0,0,0,0.9);
  width: 208px;
  height: 55px;
  border-radius: 2px;
  justify-content: space-around;
  align-items: center;
  padding: 0 8px;
}

.waitlistbutton:hover {
  opacity: 0.6;
}

.waitlistbutton span {
  font-weight: 500;
  font-size: 22px;
}

.section2 {
  display: flex;
  flex-direction: column;
  /* align-items: space-between; */
  padding-left: 132px;
}

.section2 h3 {
  color: #415A61;
  font-size: 46px;
  font-family: avenir-next-demi; 
  line-height: 135%;
  margin-bottom: 12px;
}

.section2 p {
  /* font-weight:300; */
  font-size: 23px;
  line-height: 140%;
  /* width: 5306x; */
}

.section2__card {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

.cardimg {
  border: 1px solid #ccc;
  box-shadow: 0 0 12px 2px rgba(81, 87, 226, 0.4);
  border-radius: 4px;
  margin: auto 0;
  margin-top: 8px;
  /* margin-left: 52px; */

}

.cardcol {
  display: flex;
  flex-direction: column;
  width: 530px;
  margin-right: 60px;
  margin-top: auto;
  margin-bottom: auto;
}
