.main {
  display: flex;
  flex-direction: column;
  padding: 36px 0;
  min-height: 100vh;
  max-width: 2000px;
}

.section1 {
 display: flex;
 flex-direction: row; 
 margin-left: 6vw;
 justify-content: center;
 margin-bottom: 252px;
 max-width: 1600px;
}

.section1 h2 {
  color: #415A61;
  font-size: 90px;
  font-family: avenir-next-bold;
  /* margin-top: 10px; */
  line-height: 122%;
}

.section1 p {
  font-size: 27px;
  width: 90%;
  line-height: 147%;
  margin-top: 10px;
}

.section1 b {
  font-weight: 500;
}

.waitlistbutton {
  border: 1px solid rgba(0,0,0,0.9);
  width: 208px;
  height: 55px;
  border-radius: 2px;
  justify-content: space-around;
  align-items: center;
  padding: 0 8px;
}

.waitlistbutton:hover {
  opacity: 0.6;
}

.waitlistbutton span {
  font-weight: 500;
  font-size: 22px;
}

.section2 {
  display: flex;
  flex-direction: column;
  /* align-items: space-between; */
  /* margin-left: 8.7vw; */
  max-width: 1600px;
}

.section2 h3 {
  color: #415A61;
  font-size: 46px;
  font-family: avenir-next-demi; 
  font-weight: 600;
  line-height: 135%;
  margin-bottom: 12px;
}

.section2 p {
  /* font-weight:300; */
  font-size: 23px;
  line-height: 140%;
  /* width: 5306x; */
}

.section2__card {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: 4.5vw;
  /* justify-content: space-between; */
}

.cardimg {
  border: 1px solid #ccc;
  box-shadow: 0 0 12px 2px rgba(81, 87, 226, 0.4);
  border-radius: 4px;
  margin: auto 0;
  margin-top: 8px;
  /* margin-left: 52px; */

}

.cardcol {
  display: flex;
  flex-direction: column;
  width: 530px;
  margin-right: 60px;
  margin-top: auto;
  margin-bottom: auto;
}

@media screen and (max-width: 1450px) {
  .section2__card {
    margin-right: 3vw;
  }

}
@media screen and (max-width: 1400px) {
  .section1 {
    margin-left: 4vw;
  } 

  .section1 img {
    width: 480px;
    height: 480px;
  }

  .section2 {
    margin-left: 4vw;
  }

  .cardcol{
    width: 490px;
    margin-right:36px;
  }
  .section1col{
    margin-right:60px !important;
    /* background-color: red; */
  }
  
  .section2 h3 {
    font-size: 42px;
  }

  .section2 p {
    font-size: 21px;
  }
}

@media screen and (max-width: 1300px) {
  .section1 h2 {
    font-size: 76px;
  }

  .section1{
    justify-content: center;
    /* margin-bottom: 220px; */
  }
  
  .section1 p {
    font-size: 23px;
    width: 530px;
  }

  .waitlistbutton {
    width: 180px;
    padding: 0 4px;
    height: 48px;
  }

  .waitlistbutton span {
    font-weight: 500;
    font-size: 19px;
  }

  .section1 img {
    width: 35vw;
    height: 35vw;
  }

  .section1col{
    width:50vw !important;
    margin: auto 0 !important;
  }

  .cardcol{
    width: 100%;
    /* margin-right:44px; */
  }

  .section2__card {
    margin: 0;
  }
  
  .section2 h3 {
    font-size: 40px;
  }

  .section2 p {
    font-size: 21px;
  }

  .cardimg{
    width:660px;
    height:475px;
    margin-right:1.5vw;
  }

  .logo {
    margin-left: 4vw !important;
    height: 42px;
    width: 180px;
  }
}

@media screen and (max-width: 1250px) {
  .cardimg{
    width:660px;
    height:475.5px;
  }
  .section2 h3 {
    font-size: 38px;
    margin-bottom: 8px;
  }

  .section2 p {
    font-size: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .section1 h2 {
    font-size: 72px;
  }

  .section1{
    justify-content: space-evenly;
    margin-bottom: 232px;
  }
  .section2{
    margin-left:4vw;
  }
  .section2 h3 {
    font-size: 34px;
    margin-bottom: 8px;
  }
  .cardimg{
    width:640px;
    height:461px;
  }
}

@media screen and (max-width: 1150px) {
  .section2 p {
    font-size: 18.5px;
  }
  .cardimg {
    width:608px;
    height:438px;
  }
}

@media screen and (max-width: 1100px) {
  .section1 {
    margin-left: 6vw;
    justify-content: space-evenly;
    width: 90vw;
  }
  .section1 img {
    width: 36vw;
    height: 36vw;
  }
  .section1col{
    width: 52vw !important;
  }
  .section1 h2 {
    font-size: 66px;
  }
  .section1 p {
    margin-top: 5px;
    font-size: 22px;
    width: 490px;
  }

  .section2__card {
    flex-direction: column-reverse;
    max-width: 900px;
    width: 90vw;
    margin: auto;
  }

  .section2 h3 {
    font-size: 48px;
    margin-bottom: 0;
  }
  
  .cardimg {
    margin: 32px auto;
    width:640px;
    height:461px;
  }
  .section2 p {
    font-size: 23px;
    width: 80%;
  }
}

@media screen and (max-width: 1005px) {
  .section1 h2 {
    font-size: 62px;
  }
  .section1 p {
    font-size: 20px;
    width: 460px;
  }
  .logo{
    width: 149px;
    height: 35px;
  }
}

@media screen and (max-width: 950px) {
  .section1 h2 {
    font-size: 58px;
  }
}

/* MOBILE */
@media screen and (max-width: 900px) {
  .section1{
    margin-left: 4vw;
    margin-right: 4vw;
    width: 92vw;
  }
  .section1 h2 {
    font-size: 76px;
    font-family: avenir-next-medium;
    font-weight: 500;
    margin: 0 auto;
    /* margin-top: -8px; */
    text-align: center;
  }
  
  .section1 p {
    margin-top: 0px;
    font-size: 24px;
    width: 90%;
  }
  

  .section1 img {
    width: 40vw;
    height: 40vw;
  }

  .section1 img {
    width: 400px;
    height: 400px;
    margin:18px auto 18px !important;
  }

  .section1{
    flex-direction: column-reverse;
    /* align-items: center; */
  }

  .section1col{
    width: 100% !important;
    padding: 0 4vw
  }
  .logo{
    margin: auto !important;
  }

  .section2 h3 {
    font-size: 48px;
    margin-bottom: 0;
    font-family: avenir-next-medium;
    font-weight: 500;
  }
  
  .cardimg {
    margin: 32px auto;
    width:575px;
    height:414px;
  }
  .section2 p {
    font-size: 21px;
  }
}

@media screen and (max-width: 800px) {
  .section1 h2 {
    font-size: 68px;
  }
  .section1 img {
    width: 392px;
    height: 392px;
    margin:24px auto 22px !important;
  }
  .section1 p {
    font-size: 20px;
    width: 100%;
  }
  .section1col{
    padding: 0;
  }
}

@media screen and (max-width: 700px) {
  .section2 h3 {
    font-size: 40px;
    margin-bottom: 0;
  }
  
  .cardimg {
    margin: 28px auto;
    width:90vw;
    height: calc(90vw*513/712);
  }
  .section2 p {
    font-size: 19px;
    width: 100%;
  }
  .section2{
    margin-left: 2vw;
    margin-right: 2vw;
  }
}

@media screen and (max-width: 550px) {
  .section1{
    margin-left: 2vw;
    margin-right: 2vw;
    width: 96vw;
  }
  .section1 h2 {
    margin-top: -16px;
    font-size: 48px;
  }
  .logo{
    width: 136.35px;
    height: 32px;
  }
  .section1 img {
    width: 360px;
    height: 360px;
    margin:16px auto 14px !important;
  }
  .section1col{
    padding: 0 2.5vw;
  }
  .section1 p {
    line-height: 150%;
  }

  .section2 h3 {
    font-size: 32px;
  }
}